body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
p{
  font-family: 'Space Mono', monospace;  
  font-size:18px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar  {
  opacity: 0.8;
  background-color: black;
  z-index: 2;

}


.header {
  background-size: cover;
  margin-top: -300px;
  height:1000px;
  background-repeat:no-repeat;
  background-image: url('./images/test1.jpeg');
  background-position:center ;
  background-attachment: fixed;
}

.maintitle {
  text-align:center;
  color:white;
  font-family: 'Bowlby One SC', cursive;
  margin-top: 600px;
  margin-right: 30px;
  font-size: 50px;
  z-index:3;
  -webkit-text-shadow: 0px 1px 3px #000000;
  -moz-text-shadow: 0px 1px 3px #000000;
  text-shadow: 4px 5px 5px #000000;
}

.form {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;

}

.option {
  font-size:25px;
}
/* 
.buttons {
   margin: 3px auto;
  display: flex;
  font-family: 'Space Mono', monospace;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  padding:5px;
  
} */


.wrapper {
  display: flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.buttons {
  display: grid;
  grid-template-columns: 170px 170px ;
  grid-gap: 10px;
  text-align: center;
}



.btns {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Space Mono', monospace;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  color: #ffffff;
  font-size: 20px;
  background: #C41919;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none
}

.form-btn {
  font-family: 'Space Mono', monospace;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  color: #ffffff;
  font-size: 20px;
  background: #C41919;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none
}

.restaurants {
  font-family: 'Space Mono', monospace;  
  color:#ffffff;
  width:452px;
  height:602px;
  background-color:#333333;
  margin-bottom:50px;
  margin:10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 3px #000000;
  -moz-box-shadow: 0px 3px 3px #000000;
  box-shadow: 4px 5px 4px #000000;
}

.restaurants-img {
  width:452px;
  height:268px;
  border-radius: 10px;  
}

.noimg {
  width:452px;
  height:268px;
  color:red;
  border-radius: 10px;  
}
.flex-container{
  display: flex;
  justify-content: center;  
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.btns:hover {
  background: #b02323;
  text-decoration: none;
}


.checked {
  background: #61e08d;
  background-image: -webkit-linear-gradient(top, #61e08d, #3c7a57);
  background-image: -moz-linear-gradient(top, #61e08d, #3c7a57);
  background-image: -ms-linear-gradient(top, #61e08d, #3c7a57);
  background-image: -o-linear-gradient(top, #61e08d, #3c7a57);
  background-image: linear-gradient(to bottom, #61e08d, #3c7a57);
  text-decoration: none;
}


.footer {
  width:100%;
  background-color:#333333;
}
.rating {
  color:green;
}

